@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Single Day', cursive;
}

body {
    margin: 0;
    background-color: #987093;
}

/* <header> START */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.5rem;
    background-color: white;
    flex-wrap: wrap;
}

.header a {
    text-decoration: none;
}

.hallyuin-logo {
    color: black;
    font-size: 4rem;
}

.searchbar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
}

.searchbar-input {
    width: 100%;
    padding: .4em 1em;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchbar-input::placeholder {
    font-size: 1rem;
}

.searchbar-button {
    border-radius: 5px;
    border: 1px solid #777;
    display: flex;
    align-items: center;
    padding: .5rem 1.5rem;
    background-color: #d9d9d9;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.searchbar-button:hover {
    cursor: pointer;
    background-color: #a9a9a9;
}

.nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 5rem;
}

.menu {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.menu > a {
    color: black;
}

.menu > a > .material-symbols-outlined,
.account > .material-symbols-outlined {
    font-size: 2rem;
}

.account {
    display: flex;
    padding: 1rem;
    color: black;
}
/* <header> END */

/* <footer> START */
footer {
    background-color: #987093;
    padding: 2rem;
    font-size: 24px;
    text-align: center;
    color: white;
}
/* <footer> END */