/* <main> START */
    div.wishlist-card {
        background-color: white;
        margin: 50px;
        padding: 50px;
        box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 25%);
    }

    div.wishlist-card > h2 {
        text-align: center;
        font-size: 64px;
    }

    div.wishlist-container {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    article.wishlist-merch {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article.wishlist-merch > h3 {
        font-size: 36px;
    }

    span.price {
        color: #76288D;
        font-size: 36px;
    }

    span.add-cart {
        background-color: #488D28;
        color: white;
        padding: 5px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    div.merch-detail{
        display: flex;
        align-items: center;
        gap: 20px;
    }
/* <main> END */