/* .cart {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 30px; 
}

.cart-left {
    width: calc(66% - 40px); 
    float: left; 
    height: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.cart-right {
    width: calc(32% - 40px); 
    height: 340px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-size: 30px;
}

.cart-total-price {
    margin-bottom: 30px; 
    color: purple; 
    font-size: 30px;
}

.checkout-button {
    background-color: green;
    color: white; 
    border: none; 
    padding: 10px 40px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 30px; 
}

.checkout-button:hover {
    background-color: darkgreen;
} */

/* <main> START */
.main {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.main h4 {
    font-size: 24px;
}

.cart-card {
    background-color: white;
    margin: 50px 0 50px 0;
    padding: 50px;
    box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 25%);
}

.cart-merch {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.merch-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#merch-quantity {
    text-align: center;
    border: none;
    background: none;
    width: 50px;
}

div.merch-quantity > div {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 20px;
}

.deduct:hover, .add:hover {
    cursor: pointer;
}

.deduct {
    color: red;
}

.add {
    color: green;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-subtotal {
    color: #987093;
    font-size: 36px;
    
}

.remove-cart {
    color: red;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    justify-content: center;
}

section#cart-total {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.price-total {
    color: #987093;
    font-size: 48px;
}

.merch-checkout {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #488D28;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
}
/* <main> END */